<% if @user.errors.any? %>
  Error: <%= @user.errors.full_messages.join(', ' ) %>
<% end %>
<% if @user.avatar.present? %>
    <div class="container-fluid position-relative" style="text-align: center;">
      <%= image_tag (@user.avatar.variant(resize_to_limit: [400, 200])) %>
    </div>
  <% end %>
  <br>
<%= form_with(model: @user, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :avatar, class: 'form-label' %>
    <%= form.file_field :avatar, class: 'form-control' %>
  </div>
  
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, type: 'email', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :age, class: 'form-label'%>
    <%= form.date_field  :age, class: 'form-control'%>
  </div>
  <br>
  <div class="mb-3">
    <%= form.label :bio, class: 'form-label'%>
    <%= form.text_area :bio, class: 'form-control'%>
  </div>
  <br>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <% if params[:action].eql?("edit") %>
      <%= form.submit 'Update', class: 'btn btn-primary', data: { disable_with: "Submitting..."} %>
    <% else %>
      <%= form.submit 'Save', class: 'btn btn-primary', data: { disable_with: "Submitting..."} %>
    <% end %>
  </div>
  <div class="actions">
    
  </div>
<% end %>



