<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <%= @user.name %><br>
      <%= @user.age %><br>
      <%= @user.email %><br>
      <%= @user.bio %><br>
    </div>
  </div>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure ?"} %></li>
</ul>
</div>