<div class="col">
  <div class="card shadow-sm">
    <%= image_tag(card.avatar.variant(resize_to_limit: [351, 360]), class: "bd-placeholder-img card-img-bottom",
      data: { title: card.name} )%>
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View', user_path(card), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Edit', edit_user_path(card), remote: :true, class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Destroy', user_path(card), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <small class="text-muted"><%= distance_of_time_in_words(card.created_at, Time.now) %></small>
      </div>
    </div>
  </div>
</div>

